<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekend ToDo List</title>
</head>
<body>
  <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday"){%> 
    <h1 style="color: brown;"> <%= kindOfDay %> ToDo list</h1>
  <% }else{ %>      
    <h1 style="color: yellow;"> <%= kindOfDay %> ToDo List </h1>
    <% } %> 
</body>