<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekend ToDo List</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
      <% newListItems.forEach(newListItem => { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= newListItem %></p>
      </div>
      <%}); %>

      <form action="/" method="POST" class="item">
        <input
          type="text"
          name="newItem"
          placeholder="Add Your New ToDo Item"
          autocomplete="off"
        />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
</html>
